@import url('https://fonts.googleapis.com/css?family=Bahiana|Reenie+Beanie');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title {
	position: absolute;
	font-size: 350%;
	text-align: left;
	margin-left: 10%;
	color: #00120B;
}

.link:hover {
	color: #59CD90;
}

.link:active {
	color: #95DFB8;
}

.link:link {
	text-decoration: none;
}

.link:visited {
	color: black;
    text-decoration: none;
}

#github {
	font-family: 'Reenie Beanie', sans-serif;
	font-size: 160%;
	color: #00120B;
	text-align: center;
	margin-top: 10%;
}

#canvas {
	margin-left: 50%;
}

#sub-title {
	font-family: 'Reenie Beanie', sans-serif;
	margin-bottom: 0%;
}

#main-title {
	font-family: 'Bahiana', sans-serif;
	margin-top: 0%;
	margin-bottom: 0%;
}

#play {
	font-family: 'Bahiana', sans-serif;
	margin-top: 0%;
	margin-left: 1%;
	padding:0;
}

#leaf {
	width: 50%;
	height: auto;
	margin-top: -50%;
	padding: 0;
}
